{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    
</head>
<body>
    <h1>Weather App</h1>
    <form method="get">
        <input type="text" name="city" placeholder="Enter city name">
        <button type="submit">Get Weather</button>
    </form>
    {% if weather %}
        <h2>Weather in {{ weather.city }}, {{ weather.country }}</h2>
        <p>Temperature: {{ weather.temperature }} °C</p>
        <p>Condition: {{ weather.condition }}</p>
        <img src="{{ weather.icon }}" alt="Weather icon">
    {% elif error %}
        <p>{{ error }}</p>
    {% endif %}
</body>
</html>
